[Unit]
Documentation=man:web-permissions(8)
Requires=mysql.service
After=mysql.service

[Service]
ExecStart=/usr/sbin/web-permissions
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
