Source: shared-hosting
Section: admin
Priority: optional
Maintainer: Clay Freeman <git@clayfreeman.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/clayfreeman/shared-hosting
Vcs-Git: git://github.com/clayfreeman/shared-hosting.git
Vcs-Browser: https://github.com/clayfreeman/shared-hosting

Package: shared-hosting
Architecture: all
Depends: adduser (>=3.113), certbot (>=0.14.2), composer (>=1.0.0),
 git (>=2.7.4), nginx (>=1.9.15), opendkim (>=2.10.3), php-fpm,
 php7.1-cli (>=7.1), php7.1-json (>=7.1), php7.1-mysql (>=7.1), unzip (>=6.0),
 virtual-mysql-server, zip (>=3.0)
Description: Framework for easy management of shared hosting accounts.
