server {
  include templates/redirect-from-http.conf;
  server_name {{DOMAINS}};
}

server {
  set $SITEUSER '{{SITEUSER}}';
  include templates/{{TEMPLATE}}-https.conf;
  server_name {{DOMAINS}};
  ssl_certificate {{CERTIFICATE}};
  ssl_certificate_key {{PRIVATE}};
  root {{ROOT}};
  include /etc/shared-hosting/sites.d/{{PRIMARY}}/*.conf;
}
