user = $pool
group = $pool
listen = /run/php/php{{VERSION}}-$pool.sock
listen.owner = www-data
listen.group = www-data
pm = ondemand
pm.max_children = 5
pm.max_requests = 200
pm.process_idle_timeout = 1s
php_admin_value[open_basedir] = /dev:/home/$pool:/run:/tmp:/usr:/var
